* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}
.hero {
  display: grid;
  gap: 2rem;
  padding: 2rem clamp(1rem, 5vw, 4rem);
  max-width: 75rem;
  margin: 0 auto;
 
}

body.light-background {
  background-color: #949CFF;
}

#colorBtn{
    opacity: 0;
    width: 10rem  ;
    height: 3rem ;
}

body{
   background-color: #721E1E;
   color: #E2D797;  
    font-family: 'Unbounded', sans-serif;
    font-weight: 800;  
    line-height: 1.5;  
}

.container {
    min-height: 110vh;
    display: grid;
    gap: 40px;
    align-items: stretch;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;   
    grid-template-areas:   
        "nav "
        "header "
        "main "       
        "footer";
   
}

.container h1{
    letter-spacing: 2px;
    padding-right:5rem;
   
  
}
header {
    grid-area: header;   
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
   
}
header h1{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}

nav {
    grid-area: nav;
  
}
.nav-container {
    display: flex;
    margin-left: 1rem;
    gap: 2rem;
    padding: 1rem 0;
    list-style-type: none;
    
}
.nav-container a {
    color: #E2D797;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    text-decoration: none;
 
    
}

.nav-container  a.active {
    color: white;
}



main {
    grid-area: main;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;  
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column;
}


.title-rubric {
    font-size: 3.5rem;
    color: #E2D797;
    margin-bottom: 2rem;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.7);
    text-transform: uppercase;
    
}




@media(max-width: 768px) {
   .title-rubric{
    font-size: clamp(1.8rem, 6vw, 2.6rem);
  }
  .hero-section p{
    font-size: clamp(0.95rem, 4vw, 1.15rem);
  }
   .nav-container{
    font-size: clamp(1rem, 1vw, 1.2rem);
   }
}



