
.hero-image img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    border: 5px solid #E2D797;
    box-shadow: 8px 8px 20px rgba(0,0,0,0.5);
 
}
.hero-section {
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40rem;
}

.hero-section p {
    font-size: 1.2rem;
    color: #E2D797;
   
}


.hero article{
    display: flex;
    flex-direction: column;
    min-height: 450px; 
    padding: 4rem;
    background-color:  #E2D797;
    color: #721E1E;
    border-radius: 12px;
    border: 3px solid rgba(114, 30, 30, 0.4);
    

}

.hero article h2 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


.project-media {
    width: 100%;
   aspect-ratio: 16 / 9;        
    overflow: hidden;
    border-radius: 5px;
    
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block
} 

.project-description{
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;

}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}
.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal p,
.modal li {
  line-height: 1.7;
}
.modal-content {
    background: #721E1E;
    width: 500px;
    max-width: 80%;
    padding: 2em; 
    border-radius: 8px;
    position: relative;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.5rem;
    color:white;
    text-decoration: none;
}

.projects-ref {
    color:#ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.projects-ref:visited {
    padding-top: 5rem;
    color: #E2D797;
}

.projects-description{
    color: #ffffff;
    text-decoration: none;
}

.projects-description:visited{
    color: #721E1E;
}

.github{
    text-decoration: none;
   color: #721E1E;
}


.contact-mail{
     text-decoration: none;
   color: #721E1E;
}
.github:visited{
     color: #ffffffa6;
}

.linkedin{
    text-decoration: none;
   color: #721E1E;
}

.linkedin:visited{
    color: #ffffffa6;
}

.work-experience li{
  font-size: 1.3rem;
}
.contact-message p {
    font-size: 1.3rem;
}
.contact-info li{
     font-size: 1.3rem;
}

.popUp-img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block
}

.home-page {
  grid-template-columns: minmax(180px, 320px) 1fr;
  gap: 3rem;
  align-items: center;
  padding: 2rem 5%;
}
.projects-page{ 
    grid-template-columns: 1fr 1fr; 
}
.cv-page{ 
    grid-template-columns: 1fr 1fr; 
}
.contact-page{ 
    grid-template-columns: 1fr 1fr;
 }


@media (max-width: 900px){
  .home-page{
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem;
  }
  .hero-image{
     margin: 0 auto;
     }
  .hero-section{ 
    margin: 0 auto;
 }

 .cv-page{
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem;

 }
 .projects-page{
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem;
   

 }
 .contact-page{
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem;
   
 }
 .project-media{
    aspect-ratio: 4/3;
 }

 
}
